<header>
  <div class="title-section">
      <img src="{{ "images/logo.png" | relURL }}" alt="Logo" class="title-image" />
      <h1>Nathaly Hitomi</h1>
  </div>      

  <nav>
      <ul class="nav-list">
          <li><a href="{{ relURL "" }}" class="{{ if eq .Permalink $.Site.BaseURL }}active{{ end }}">Home</a></li>
          <li><a href="{{ relURL "about" }}" class="{{ if strings.HasSuffix .RelPermalink "/about/" }}active{{ end }}">About Me</a></li>
          <li><a href="{{ relURL "works" }}" class="{{ if strings.HasSuffix .RelPermalink "/works/" }}active{{ end }}">Works</a></li>
      </ul>
  </nav>
</header>
