{{ define "main" }}
            <!-- Container para links e imagem -->
            <div class="hero-section">
                <!-- Imagem da Home -->
                <div class="profile-container">
                    <img src="{{ "images/profile_.jpg" | relURL }}" alt="Imagem da Home" class="profile-image" />
                </div>
            </div>
    
            <!-- Quadrado verde com os links dentro dele -->
            <div class="green-box">
                <ul>
                    <li><a href="http://lattes.cnpq.br/4230355009044287" target="_blank">CV Lattes</a></li>
                    <li><a href="https://www.linkedin.com/in/nathaly-kushima-88984823b" target="_blank">LinkedIn</a></li>
                    <li><a href="mailto:nhkushima@gmail.com">Gmail</a></li>
                </ul>
            </div>
    
            <!-- Títulos de "PORTFOLIO" -->
            <h1 class="portfolio-title">PORTFOLIO</h1>
            <h1 class="portfolio1-outline">RTFOLIO</h1>
            <h1 class="portfolio2-outline">RTFOLIO</h1>
            <h1 class="portfolio3-outline">RTFOLIO</h1>
            <h1 class="portfolio4-outline">RTFOLIO</h1>
{{ end }}